<footer class="footer">
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-6">
      <div class="copyright text-center text-xl-left text-muted">
            <p> MIAGE 2020</p>
      </div>
    </div>
    <div class="col-xl-6">
      <ul class="nav nav-footer justify-content-center justify-content-xl-end text-muted">
        <li class="nav-item">
          <a class="nav-link" target="_blank">Clarisse VEMBA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" target="_blank">Soufiane KANOUTE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" target="_blank">Adame BENADJAL</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
