<!-- Sidenav -->
<!-- <app-sidebar></app-sidebar> -->
<div>
  <!-- Top navbar -->
  <!-- <app-navbar></app-navbar> -->
  <!-- Pages -->
  <router-outlet></router-outlet>
  <div class="container-fluid">
    <app-footer></app-footer>
  </div>
</div>
