<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Nombre de cas dans le monde</h5>
                  <span class="h2 font-weight-bold mb-0">{{this.nbCases | number}} </span>
                  <span>  personnes atteintes </span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Par rapport au mois dernier </span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Nombre total de décés</h5>
                  <span class="h2 font-weight-bold mb-0">{{this.nbDeaths | number}}</span>
                  <span>  personnes décédées </span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                <span class="text-nowrap">Par rapport au mois dernier</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Pays ayant le plus de cas</h5>
                  <span class="h5 font-weight-bold mb-0">{{this.countryMoreCases._fields[0]}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-flag"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="font-weight-bold text-warning mr-2">Nombre de cas {{this.countryMoreCases._fields[3].low | number}}</span> 
              </p>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="font-weight-bold text-danger text-nowrap">Nombre de morts {{this.countryMoreCases._fields[2].low | number}}</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Pays ayant le moin de cas</h5>
                  <span class="h2 font-weight-bold mb-0">{{this.countryLessCases._fields[0]}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-flag"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="font-weight-bold text-warning mr-2">Nombre de cas {{this.countryLessCases._fields[3].low}}</span> 
              </p>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="font-weight-bold text-danger text-nowrap">Nombre de morts {{this.countryLessCases._fields[2].low}}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card bg-gradient-default shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-light ls-1 mb-1">Aperçu</h6>
              <h2 class="text-white mb-0">Nombre de cas dans le monde</h2>
            </div>
            <div class="col">
              <ul class="nav nav-pills justify-content-end">
                <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales"  (click)="data=datasets[0];updateOptions()">
                  <a class="nav-link py-2 px-3">
                    <span class="d-none d-md-block">Mois</span>
                    <span class="d-md-none">M</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <!-- Chart wrapper -->
            <canvas id="chart-sales" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1"></h6>
              <h2 class="mb-0">Nombre de mort dans le monde</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <canvas id="chart-orders" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Cas par pays</h3>
            </div>
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-primary">Liste complète</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Pays</th>
                <th scope="col">Nombre de cas</th>
                <th scope="col">Nombre de morts</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let coutry of deathsByCountry">
                <th scope="row" > 
                <span> {{coutry._fields[0]}} </span>  
                <!-- <span class='flag-icon flag-icon-dz'></span> -->
                <!-- <button class="btn btn-danger" (click)="flagCountry(coutry)"> TEST </button> -->
                <span class="{{flagCountry(coutry)}}"></span>
                </th>
                <td>
                  <span [ngClass]="{'font-weight-bold' : true, 'text-danger mr-2': getColorCases(coutry._fields[3].low),
                  'text-warning mr-2': !getColorCases(coutry._fields[3].low)
                 }"> {{coutry._fields[3].low | number}}
                  </span>
                </td>
                <td>
                  <span [ngClass]="{'font-weight-bold': true, 'text-danger mr-2': getColorsDeaths(coutry._fields[2].low),
                 'text-warning mr-2' : !getColorsDeaths(coutry._fields[2].low)}">
                 {{coutry._fields[2].low | number}}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
